<!--BEM VINDO-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body class="pagina-bem-vindo">
    <img class="imagem" src="\static\img\black_chat.jpeg" alt="logo">

    <!-- Div principal -->
    <div class="conteudo_index">
            <!-- Div da esquerda: Texto -->
        <div class="texto">
            <h2>Seja Bem-vindo ao Black Chat!</h2>
            <p>O Black Chat é um aplicativo de mensagens rápido, seguro e
            intuitivo, projetado para facilitar sua comunicação com 
            amigos, familiares e colegas. Com suporte para mensagens de
            texto, chamadas de voz e vídeo, além de compartilhamento de
            arquivos e mídias, o Black Chat oferece uma experiência fluida
            e segura.</p>
            <div class="entrada">
                <button><a href="/login">Login</a></button>
                <button><a href="/cadastro">Cadastro</a></button> 
                
            </div>
        </div>
        <img class="imagemchat" src="/static/img/chat.png" alt="logo">
        <img class="canto1" src="\static\img\canto_esquerdo.png" alt="canto1">
        <img class="canto2" src="\static\img\canto_direito.png" alt="canto2">

    </div>
</body>
</html>
